<html>
<head>
    <meta content="{{ csrf_token() }}" name="csrf-token">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.cxcalendar.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cxcalendar.min.js') }}"></script>
</head>
<body>
    <div id="div_lvl_1">
        <div id="div_lvl_2">
            div 2 1
        </div>
        <div id="div_lvl_2_2" onclick="alert(this)">
            div 2 2
        </div>
        <div id="div_lvl_2_3">
            <!-- <a href="http://www.baidu.com" onclick="alert(this.getAttribute('href')); return false;">div 2 3</a> -->
            <a href="javascript:alert(this)">div 2 3</a>
            <form action="https://baidu.com">
            <input type="button" value="woqu" />
            <input type="submit" value="woqu2" />
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var csrf_token = $('meta[name=csrf-token]').attr('content');
        $.ajaxSetup(
            {
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            }
        );
        /*
        $('#div_lvl_1').on('click',
            function(e){
                // alert('div lvl 1');
                alert(e.target.id);
            }
        );

        $('#div_lvl_2').on('click',
            function(e){
                // alert('div lvl 2');
                alert('e.target.id: ' + e.target.id);
                alert('this.id: ' + $(this).attr('id'));
            }
        );

        $('#div_lvl_2_2').on('click',
            tf = function(){
                $('#div_lvl_2').trigger('click');
                return false;
            }
        );
        */
    </script>
</body>
</html>
