<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    </head>
    <body>
        test/render, with jquery.min equipted<p>
        <div>
            contents gone here<p>
        </div>
        <div>
            contents gone here2<p>
        </div>
        <div>
            {{ args | cvalue }}<p>
        </div>
        <div>
            {{ fvalue(args) }}<p>
        </div>
        <div>
            {{ avalue_r(args) }}<p>
        </div>

    </body>
</html>
